/.metadata/

/.recommenders/
Astrean Legends/.classpath
Astrean Legends/.project
Astrean Legends/.settings/
Astrean Legends(Old)/.gitignore
Astrean Legends(Old)/.classpath
Astrean Legends(Old)/.project
Astrean Legends(Old)/.settings/
Astrean Legends(Old)/src/
Astrean Legends(Old)/resources/
lib/